.registration{
    display: flex;flex-direction: column;
    height: 100%;
}
.registration-header{
    background-color: darkturquoise;
    width: 100%;
    color: white;
    height: fit-content;
}
.form{
    background-color: white;
    border: 1pt solid gray;
}
.form a{
    font-weight: bold;
}
.form-data{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
}
.save-button{
    align-items: flex-end;
}